html {
    font-size: 10px;
    //font-family: "Hind Madurai", sans-serif;
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

body {
    //background: #111;
    color: #fff;
    margin: 0;
    //background-image: url("/images/backgrounds/city-sample.jpeg");
    //background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .body-inner {
        background: $grad;
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        .content {
            flex: 1;
            .full-height {
                height: 100%;
            }
        }
    }
}

// .inner {
//   max-width: 900px;
//   margin: 0 auto;
//   @media all and (max-width: 900px) {
//     padding: 2rem;
//   }
// }
